body{
    background: rgb(171, 197, 186);
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
#title{
    color:rgb(2, 49, 49);
    font-family:"Lato";
}
h2{
    color: blue;
    font-family: "Inconsolata";
}
#contact-us{
    color: green;
}
.services{
    color:red;
}
li:nth-child(2){
    color:purple;
}
li:last-child{
    color:green;
}
#google-link:hover{
    color:yellow
}
#google-link:link{
    color:yellow;
}
#google-link:visited{
    color:red;
}
input:focus{
    background-color: grey;
}
img[src^="../image"]{
    border:10px solid black;
    padding: 10px;
    float:right;
    margin: 20px;
}
#contact-us:hover{
    text-decoration: underline;
    color:blue
}
#cssimage{
    background: url("../images/css1.jpg");
    height: 150px;
    width:100%;
    background-repeat: no-repeat;
}
#lineargradient{
    height: 100px;
    background: linear-gradient(to right,red,green,yellow,orange,blue);
    border: 10px solid black;
    margin-top: 10px;
    padding-left: 50%;
    align-items: center;
}
/* table{
    display:none
} */
 .container-item{
    background-color: green;
    height:50px;
    width:40px;
    padding:10px;
    align-items: center;
    margin:10px

 }
 .container{
    display: flex;
    flex-direction:row-reverse;
    flex-wrap: wrap-reverse; 
 }